header{
    background-color: #2a9d8f;
    width: 1440px;
    margin: 0 auto;
    padding: 38px 130px;
}
.headlogo{
    display: inline-block;
    vertical-align: middle;
    margin: 38px 701px 38px 130px;
    background-color: #2a9d8f;
}
.{
    
}

